
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.calc{
    background-color: lightskyblue;
    padding-bottom: 30px;
    border-radius: 50px;
    width: 950px;
}

input{
    height: 150px;
    width: 850px;
    margin-bottom: 30px;
    border-radius: 70px;
    padding-left: 100px;
    font-size: 50px;
    font-weight: bold;
    border: none;
}

button{
    height: 100px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 30px;
    font-size: 50px;
    font-weight: bold;
    border: none;
}

.clear-all{
    width: 610px;
}

.zero{
    width: 405px;
}

.equal{
    background-color: orange;
}



